################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NawareKulCore/.vs/NawareKulCore
/NawareKulCore/bin/Debug/net6.0
/NawareKulCore/obj
