
@{
    ViewBag.Title = @NawareKulCore.Resources.Resource.Bharadwajhrushi;
}

<h2 class="text-center">@NawareKulCore.Resources.Resource.Bharadwajhrushi</h2>
<div class="text-center img-responsive">
    <img src="~/Images/vimanas1.bmp" width="50%" height="35%" class="text-center" />
</div>
<br />
<div class="row">
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; @NawareKulCore.Resources.Resource.Bhardwaj_Desc
    </p>
</div>

