
@{
    ViewBag.Title = "Dhopeshwar";
}

<h2 class="text-center">@NawareKulCore.Resources.Resource.Dhupeshwar_Title</h2>
<div class="text-center img-responsive">
    <img src="~/Images/6.JPG" width="50%" height="50%" class="text-center"/>
</div>
<br />
@Html.Raw(NawareKulCore.Resources.Resource.Dhopeshwar_Desc)

<div class="text-center img-responsive">
    <img class="text-center" src="~/Images/map.jpg"/>
</div>