@model NawareKulCore.DataBL.FamilyDetailsDTO

<h3>Family Details</h3>
<div class="row">
    <div class="form-group col-md-6">
        <label>Wife's Name:</label>
        <input asp-for="WifeName" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label>Son's Name:</label>
        <input asp-for="SonName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Daughter's Name:</label>
        <input asp-for="DaughterName" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label>Father's Name:</label>
        <input asp-for="FatherName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Mother's Name:</label>
        <input asp-for="MotherName" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label>Grandfather's Name:</label>
        <input asp-for="GrandFatherName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Grandmother's Name:</label>
        <input asp-for="GrandMotherName" class="form-control" />
    </div>
    <div class="form-group col-md-6">
        <label>Great Grandfather's Name:</label>
        <input asp-for="GreatGrandFatherName" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label>Great Grandmother's Name:</label>
        <input asp-for="GreatGrandMotherName" class="form-control" />
    </div>
</div>
