@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="row main-dashboard-image">
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                <h2>Contact Us</h2>
            </p>
        </div>

        @*<div class="col-md-6">
            <h4>Shree Suresh N.Naware</h4>
            <h4>Sampada, 19 Kalanagar, Pune-Satara Road</h4>
            <h4>Pune - 411043</h4>
            <h4>Phone - 020-24372313</h4>
            <h4>Email-ID - suresh.naware@gmail.com</h4>
        </div*@>
        <div class="col-md-6">
            <h4>Dr. Arvind Nilknath Navare</h4>
            <h4>'YOGAYOG', 1944, Sadashiv Peth,</h4>
            <h4>N. S. Naware Path, Pune - 411030.</h4>
            <h4>Phone - 24489290. Cell : 9552384931</h4>
            <h4>Email-ID - navares@vsnl.com</h4>
        </div>
    </div>
</div>
