@model NawareKulCore.DataBL.OtherInformationDTO;

<h3>Other Information</h3>
<div class="row">
    <div class="form-group">
        <label>Information about hobbies, awards, honors, community services</label>
        <input asp-for="Hobbies" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label>Information about how the name and surname came about should be reported</label>
        <input asp-for="NameComeFrom" class="form-control" />
    </div>
</div>
